@import "tailwindcss";

* {
  user-select: none;
}

.animate-delay-scale-in {
  transform: scale(0);
  animation: scale-animation 150ms cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  animation-delay: 100ms;
}

.animate-scale-in {
  animation: scale-animation 150ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes scale-animation {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}


.animate-opacity-in {
  animation: opacity-animation 300ms ease-in-out;
}

@keyframes opacity-animation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}